# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment folders
env/
venv/
.chatbot_env/  

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode workspace files
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Hidden environment files
.env
